= styles_for :evaluation

#confirm{ hidden }
.title_tools#menu
  = link_to_inline(:edit_evaluation, edit_evaluation_path(@evaluation), :text => t(:edit)) + " | "
  = link_to_function(t(:delete) + '?', confirm_delete(@evaluation))
.title#edit_evaluation_title= h(@evaluation.name) 

%div#edit_evaluation{ hidden }

= render "comments/new", :commentable => @evaluation
= render :partial => "shared/timeline", :collection => @timeline


<br />

#evaluation
  .panel
    - @evaluation.field_groups.each do |field_group|
      - if field_group.fields.select{|f| @evaluation.send(f.name).present? }.any?
        %div
          .caption #{field_group.label_i18n}
          <br />
          - field_group.fields.each do |field|
            - if (value = field.render_value(@evaluation)).present?
              == <b>#{field.label}:</b><br /> #{value.html_safe}<br /><br />	


= hook(:show_evaluation_bottom, self) do

    

  %br( style="clear:both" )
    
  = load_select_popups_for(@evaluation, :contacts, :trainers)


= styles_for :task, :opportunity

