%li.highlight[training_target]

  %ul.tools

    - if can?(:update, training_target)
      %li= link_to_edit(training_target)

    -# if shown_on_landing_page?
      %li= link_to_discard(training_target)

    - if can?(:destroy, training_target)
      %li= link_to_delete(training_target)


  .training_target
    %strong
      = training_target.title
    %tt
      = "| " if training_target.description?
      = training_target.description.html_safe if training_target.description?